* {
    box-sizing: border-box;
}

:root {
    --background-color: rgb(62, 169, 245);
    --button-color: rgb(40, 210, 208);
    --button-hover-color: rgb(35, 185, 183);
    --button-active-color: rgb(30, 160, 158);
    --text-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.heading-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    font-size: 1.4rem;
    width: 85%;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
}

.form-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    max-width: 650px;
    min-height: 800px;
    padding: 20px;
}

.text-inputs-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.text-inputs-container input {
    font-size: 1.15rem;
    flex: 1 1 calc(45% - 15px);
    min-width: 160px;
    height: 65px;
    border: none;
    border-radius: 5px;
    padding: 25px;
    margin: -5px 0;
}

input:focus {
    outline: none;
}

.radio-inputs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.radio-input-group {
    display: flex;
    align-items: start;
    gap: 10px;
    font-size: 1.3rem;
    font-weight: 400;
    border: 1px solid white;
    padding: 15px 20px 25px;
}

.radio-input-group p {
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: 300;
}

.checkbox-input-group {
    font-weight: 400;   
}

.submit-button {
    background-color: var(--button-color);
    color: inherit;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 65px;
    border-radius: 5px;
    font-size: 1.3rem;
}

.submit-button:hover {
    background-color: var(--button-hover-color);
}

.submit-button:active {
    background-color: var(--button-active-color);
}